# Node.js dependencies
node_modules/

# npm logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Optional: Environment variables file
.env

# Optional: Directory for local build or dist files
dist/
build/

# Optional: Logs directory
logs/

# Mac specific files
.DS_Store

# Windows specific files
Thumbs.db
